<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    <% include ../partials/header %>
    <div class="container">
        <% include ../partials/posts %>
    </div>
    <% include ../partials/footer %>
</body>
</html>
